{% include base_path %}

<div class="page__footer-follow">
  <ul class="social-icons">
    {% if site.data.ui-text[site.locale].follow_label %}
      <li><strong>{{ site.data.ui-text[site.locale].follow_label }}</strong></li>
    {% endif %}
    {% if site.author.github %}
    <li><a href="http://github.com/{{ site.author.github }}" target="_blank"><i class="fab fa-github" aria-hidden="true"></i> GitHub</a></li>
    <li><a href="http://instagram.com/himudigonda"  target="_blank"><i class="fab fa-instagram" aria-hidden="true"></i> Instagram</a></li>
    <!-- <li><a href="mailto:himudigonda+landing@asu.edu"  target="_blank"><i class="far fa-envelope"></i> Email</a></li> -->
    <li><a href="http://linkedin.com/in/himansh-m"  target="_blank"><i class="fab fa-linkedin" aria-hidden="true"></i> LinkedIn</a></li>
    <li><a href="http://linkedin.com/in/himansh-m"  target="_blank"><i class="fas fa-map-marker-alt"></i> Tempe, AZ</a></li>

    {% endif %}
    <!-- <li><a href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ base_path }}/feed.xml{% endif %}"><i class="fa fa-fw fa-rss-square" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].feed_label | default: "Feed" }}</a></li> -->
  </ul>
</div>

<div class="page__footer-copyright">&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}</a></div>
